* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

  .maindiv {
      
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    justify-content: center;
    top: 0%;
    display: flex;
    justify-content: space-between;

    left: 0%;
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: -5px;
    /* text-align: center; */
}
.headingdiv{
    text-align: left;
    margin: 20px;
}


.formdiv{
    width: 250px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    position: relative;
    text-align: left;
    padding-left: 10px;
  }

  .formdiv input{
    font-size: 16px;
    width: 100%;
    padding: 6px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    height: 1.5vw;
  }
  
  .formdiv button{
    font-size: 18px;
    font-weight: bold;
    margin: 2px 0;
    padding: 0px 0px;
    border: 0;
    outline: none;
    border-radius: 6px;
    width: 35%;
  
  
  
  }
  .bottomdiv{
    margin-right: 200px;
    margin-top: 28px;
  }

  .bottomdiv table{
    padding: 10px;
    
  }

.bottomdiv td{
  padding-left: 30px;
}

p{
  margin: 0px;
}

h1,h5{
  margin-bottom: 0px;
}




.search-container{
  width: 250px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 30px;
  padding: 0 20px;
  font-size: 1rem;
  border: 2px solid #D0CFCE;
  border-radius: 25px 10px
}
.search-icon{
  position: relative;
  float: right;
  width: 55px;
  height: 55px;
  top: -44px;
  right: -8px;
}



